<div class="container">
	<div class="form-inline">
		<input class="form-control" type="text" ng-model="search" placeholder="Rechercher">	
		<button ng-click="show()" class="btn btn-primary" style="float: right;">Ajouter un auteur</button>
		<form class="form-group" ng-show="modifyForm">
			<input class="form-control" type="text" placeholder="Nom" ng-model="addName">
			<input class="form-control" type="text" placeholder="Prénom" ng-model="addFirstName">
			<input class="form-control" type="text" placeholder="Fonction" ng-model="addTitle">
			<button class="btn btn-success" ng-click="submitAdd()">Soumettre</button>
			<button ng-click="hide()" class="btn btn-danger">Annuler</button>
		</form>
	</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Fonction</th>
					<th>Modifier</th>
					<th>Supprimer</th>
					<th>Voir</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="author in authors | filter:search">
					<td>{{author.nom}}</td>
					<td>{{author.prenom}}</td>
					<td>{{author.fonction}}</td>
					<td><a >coucou</a></td>
					<td><a ng-click="delete()">coucou</a></td>
					<td><a ng-href="#/author/{{author.id_auteur}}">coucou</a></td>
				</tr>
			</tbody>
		</table>
</div>